<!-- qotd/templates/qotd/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Quote of the Day</title>
    {% endblock %}

    <!-- W3.CSS Framework -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        body {
            max-width: 800px;
            margin: 2em auto;
            padding: 1em;
            background-color: #f9f9f9;
        }
        nav a {
            margin: 0 10px;
            text-decoration: none;
        }
    </style>

    {% block extra_head %}{% endblock %}
</head>
<body class="w3-container">

    <header class="w3-center w3-padding-16">
        <!--
        <h1 class="w3-xxlarge">Quote of the Day</h1>
        -->
        {% block nav %}
        <nav class="w3-bar w3-light-grey w3-padding">
            <a href="/qotd/view/" class="w3-bar-item w3-button">View Quotes</a>
            <a href="/qotd/review/" class="w3-bar-item w3-button">Review Quotes</a>
            <a href="/admin/" class="w3-bar-item w3-button">Admin</a>
            <a href="/qotd/api/random/" class="w3-bar-item w3-button">API</a>
        </nav>
        {% endblock %}
    </header>
    

    {% block content %}{% endblock %}

    <footer class="w3-center w3-small w3-padding-16">
        <p>© 2025 Todd McCaffrey — QOTD App</p>
    </footer>

</body>
</html>
